    <!-- Yeniden Pazarlama Etiketi için Google Kodu -->
    <!--------------------------------------------------
    Yeniden pazarlama etiketleri, kimlik bilgileriyle ilişkilendirilemez veya hassas kategorilerle ilgili sayfalara yerleştirilemez. Daha fazla bilgi edinmek ve etiketin nasıl ayarlanacağıyla ilgili talimatlar için şu adresi ziyaret edin: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    {{#if contents.aboutus.ulasim}}
        <!-- Google Code for D&uuml;&#351; Mucitleri Conversion Page -->
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 855840382;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "a9P-CKb6qHAQ_qyMmAM";
        var google_remarketing_only = false;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
        src="//www.googleadservices.com/pagead/conversion/855840382/?label=a9P-CKb6qHAQ_qyMmAM&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>
    {{/if}}
    
    <script type="text/javascript">

    /* <![CDATA[ */
    var google_conversion_id = 855840382;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */

    </script>

    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

    <noscript>  
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/855840382/?guid=ON&amp;script=0"/>
        </div>
    </noscript>

    <!-- Yandex.Metrika counter --> 
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter43110884 = new Ya.Metrika({ id:43110884, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/43110884" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
     <!--Jquery Library-->
    <script src="/static/js/jquery.js"></script>
    <!--Bootstrap core JavaScript-->
    <script src="/static/js/bootstrap.min.js"></script>
    <!--Swiper JavaScript-->
    <script src="/static/js/swiper.jquery.min.js"></script>
    <!--Single Page JavaScript-->
    <script src="/static/js/jquery.singlePageNav.js"></script>
    <!--Count Down JavaScript-->
    <script src="/static/js/jquery.downCount.js"></script>
    <!--Owl Carousel JavaScript-->
	<script src="/static/js/owl.carousel.js"></script>
    <!--Number Count (Waypoint) JavaScript-->
	<script src="/static/js/waypoints-min.js"></script>
    <!--Filter able JavaScript-->
    <script src="/static/js/jquery-filterable.js"></script>
    <!--Contact Form Validation JavaScript-->
    <script src="/static/js/pluginse209.js"></script>
    <!--Custom JavaScript-->
	<script src="/static/js/custom.js"></script>
	<script src="/static/js/bootstrap-pagination.js"></script>
    <script type="text/javascript">
    /*
      ==============================================================
           Sticky Navigation Script
      ==============================================================
    */
    if($('.gt_top3_menu').length){
        // grab the initial top offset of the navigation 
        var stickyNavTop = $('.gt_top3_menu').offset().top;
        // our function that decides weather the navigation bar should have "fixed" css position or not.
        var stickyNav = function(){
            var scrollTop = $(window).scrollTop(); // our current vertical position from the top
            // if we've scrolled more than the navigation, change its position to fixed to stick to top,
            // otherwise change it back to relative
            if (scrollTop > stickyNavTop) { 
                $('.gt_top3_menu').addClass('gt_sticky');
            } else {
                $('.gt_top3_menu').removeClass('gt_sticky'); 
            }
        };
        stickyNav();
        // and run it again every time you scroll
        $(window).scroll(function() {
            stickyNav();
        });
    }
    if($('.single-page').length){
        $('.single-page').singlePageNav({
            offset: $('.kode_pet_navigation').outerHeight() + 100,
            filter: ':not(.external)',
            updateHash: true,
            beforeStart: function() {
                console.log('begin scrolling');
            },
            onComplete: function() {
                console.log('done scrolling');
            }
        });
    }
    if($('#subscribe').length){
        $('#subscribe').submit(function(event){
            event.preventDefault();
            console.log($('#email').val());
            $.ajax({
                url: "/subscribe",
                type: 'post',
                dataType: 'json',
                data: {email : $('#email').val()},
                success: function(data) {
                    console.log(data);
                }
            });
        })
    }
    
    // window.addEventListener("hashchange", function () {
    //     window.scrollTo(window.scrollX, window.scrollY - 300);    
    // });
    
    </script>