<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{settings.siteDesc}}">
    <meta name="keywords" content="{{settings.siteKeywords}}">
    <meta name="author" content="Bahadir Can Yildiz">

    <title>{{settings.siteTitle}} - {{settings.siteSubtitle}}</title>
    <!-- Swiper Slider CSS -->
    <link href="static/css/swiper.css" rel="stylesheet">
	<!-- Custom Main StyleSheet CSS -->
    <link href="static/style.css" rel="stylesheet">
    <!-- Color CSS -->
    <link href="static/css/color.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="static/css/responsive.css" rel="stylesheet">
</head>