<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <!--gt Wrapper Start-->  
    <div class="gt_wrapper" id="aboutus">
        {{>components/header}}
        {{>components/subbanner}}
        
        <div class="gt_main_content_wrap">
            {{>components/home.aboutus}}
            {{>components/home.facts}}
            {{!--{{>components/home.instructors}}--}}
            {{>components/home.skills}}
            {{>components/home.sponsors}}
            {{>components/subfooter}}
        </div>
    </div>
    <!--gt Wrapper End-->
    {{>footer}}
</body>
</html>