<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <!--gt Wrapper Start-->  
    <div class="gt_wrapper" id="home">
        {{>components/header}}
        {{>components/banner}}
        <!--Main Content Wrap Start-->
        <div class="gt_main_content_wrap">
            {{>components/home.aboutus}}
            {{>components/home.offer}}
            {{>components/home.facts}}
            {{>components/home.courses}}
            {{>components/home.gallery}}
            {{>components/home.instructors}}
            {{>components/home.testimonial}}
            {{>components/home.kidservices}}
            {{>components/home.blog}}
            {{>components/home.contactus}}
            {{>components/subfooter}}
        </div>
        <!--Main Content Wrap End-->
    </div>
    <!--gt Wrapper End-->
    {{>footer}}
</body>
</html>