<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <!--gt Wrapper Start-->  
    <div class="gt_wrapper" id="home">
        {{#if images.Popup}} {{>components/modal}} {{/if}}
        {{>components/header}}
        {{>components/banner}}
        <!--Main Content Wrap Start-->
        <div class="gt_main_content_wrap">
            {{>components/home.bannerservices}}
            {{>components/home.offer}}
            {{!--{{>components/home.facts}}--}}
            {{>components/home.services}}
            {{>components/home.gallery}}
            {{!--{{>components/home.instructors}}--}}
            {{>components/home.news}}
            {{>components/home.testimonial}}
            {{>components/home.blog}}
            {{>components/home.sponsors}}
            {{!--{{>components/home.contactus}}--}}
            {{>components/subfooter}}
        </div>
        <!--Main Content Wrap End-->
    </div>
    <!--gt Wrapper End-->
    {{>footer}}
</body>
</html>