<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <!--gt Wrapper Start-->  
    <div class="gt_wrapper">
        {{>components/header}}
        {{>components/banner}}
        <!--Main Content Wrap Start-->
        <div class="gt_main_content_wrap">
            {{>components/aboutus}}
            {{>components/offer}}
            {{>components/facts}}
            {{>components/courses}}
            {{>components/gallery}}
            {{>components/instructors}}
            {{!--{{>components/testimonial}}--}}
            {{>components/blog}}
            {{>components/contactus}}
            
        </div>
        <!--Main Content Wrap End-->
    </div>
    <!--gt Wrapper End-->
    {{>footer}}
</body>
</html>