<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
{{>head}}
<body>
    <!--gt Wrapper Start-->  
    <div class="gt_wrapper" id="home">
        {{>components/header}}
        {{>components/subbanner}}
        
        <div class="gt_main_content_wrap">
            <section>
                <div class="container">
                    <div class="row">
                        {{#if isListing}}
                            {{>components/post.listing}}
                        {{else}}
                            {{>components/post.details}}
                        {{/if}}
                        
                        {{>components/post.asidebar}}  
                        
                    </div>
                </div>
            </section>
            <div class="col-xs-12" style="height:50px;"></div>
            
            {{>components/subfooter}}
        </div>
    </div>
    <!--gt Wrapper End-->
    {{>footer}}
    <script type="text/javascript">
    /* ==================================================================
		Pagination Script
	=================================================================	*/
	if($('.gt_pagination_outer_wrap').length){
		$('.gt_pagination_outer_wrap').pagination({ page: {{page}}, lastPage: {{lastPage}} });
	}
    
    </script>
</body>
</html>