<!--Banner Wrap Start-->
    <div class="gt_banner default_width">
        <div class="swiper-container" id="swiper-container">
             <ul class="swiper-wrapper">
                 {{#each slider.banner}}
                <li class="swiper-slide">
                    <img src="{{this.link}}" alt="{{this.title}}">
                    <div class="gt_banner_text gt_slide_1">
                        {{this.description}}
                    </div>
                </li>
                {{/each}}
                {{!--<li class="swiper-slide">--}}
                {{!--    <img src="extra-images/banner-02.jpg" alt="">--}}
                {{!--    <div class="gt_banner_text gt_slide_2">--}}
                {{!--        <h3>Learning &#38; fun</h3>--}}
                {{!--        <h2>Perfevt Education</h2>--}}
                {{!--        <h3>Template for your kids</h3>--}}
                {{!--        <a class="btn-left" href="#">see More</a>--}}
                {{!--        <a class="btn-right" href="#">Buy Now!</a>--}}
                {{!--    </div>--}}
                {{!--</li>--}}
                {{!--<li class="swiper-slide">--}}
                {{!--    <img src="extra-images/banner-03.jpg" alt="">--}}
                {{!--    <div class="gt_banner_text gt_slide_3">--}}
                {{!--        <h3>We will take care</h3>--}}
                {{!--        <h2>for your kids</h2>--}}
                {{!--        <a class="btn-left" href="#">see More</a>--}}
                {{!--        <a class="btn-right" href="#">Buy Now!</a>--}}
                {{!--    </div>--}}
                {{!--</li>--}}
             </ul>
         </div>
        <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
        <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
    </div>
    <!--Banner Wrap End-->