<!--Course Listing style Wrap Start-->
<div class="col-md-9">
    <div class="gt_cd_outer_wrap default_width">
        <figure>
            <img src="extra-images/course-detail-01.jpg" alt="">
        </figure>
        <div class="gt_news_meta default_width">
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
            <ul>
                <li>
                    Postd by: <a href="#">Melissa Black</a>
                </li>
                <li>
                    <i class="fa fa-calendar"></i>
                    07-March-2016
                </li>
                <li>
                    <i class="fa fa-comments-o"></i>
                    20 Comments
                </li>
            </ul>
        </div>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. ed ut perspiciatis unde.</p>
        <blockquote>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </blockquote>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. ed ut perspiciatis unde.</p>
    </div>
    <div class="gt_news_tags">
        <h5><i class="fa fa-tag"></i>Education</h5>
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
    <!--Comment Wrap Start-->
    <div class="gt_comment_list_wrap gt_detail_hdg">
        <h5>(4)Comments</h5>
        <ul>
            <li>
                <div class="gt_comment_wrap">
                    <figure>
                        <img src="extra-images/comment-01.jpg" alt="">
                    </figure>
                    <div class="gt_comment_des">
                        <h6><a href="#">John Matt</a></h6>
                        <a href="#">Reply</a>
                        <div class="gt_comment_date">
                            <span><i class="fa fa-calendar"></i>January 31, 2016</span>
                            <span><i class="fa fa-clock-o"></i>03:26  pm</span>
                        </div>
                       <p>Duis facilisis nibh quam, sit amet interdum tellus sollicitudin tempor. Curabitur aliquam Duis facilisis nibh quam, sit amet interdum tellus sollicitudin tempor. Curabitur aliquam…</p>
                    </div>
                </div>
                <ul>
                    <li>
                        <div class="gt_comment_wrap">
                            <figure>
                                <img src="extra-images/comment-03.jpg" alt="">
                            </figure>
                            <div class="gt_comment_des">
                                <h6><a href="#">Sara Adward</a></h6>
                                <a href="#">Reply</a>
                                <div class="gt_comment_date">
                                    <span><i class="fa fa-calendar"></i>January 31, 2016</span>
                                    <span><i class="fa fa-clock-o"></i>03:26  pm</span>
                                </div>
                               <p>Duis facilisis nibh quam, sit amet interdum tellus sollicitudin tempor. Curabitur aliquam Duis facilisis nibh quam, sit amet interdum tellus sollicitudin tempor. Curabitur aliquam…</p>
                            </div>
                        </div>
                    </li> 
                </ul>
            </li>
            
            <li>
                <div class="gt_comment_wrap">
                    <figure>
                        <img src="extra-images/comment-02.jpg" alt="">
                    </figure>
                    <div class="gt_comment_des">
                        <h6><a href="#">Sunny Leon</a></h6>
                        <a href="#">Reply</a>
                        <div class="gt_comment_date">
                            <span><i class="fa fa-calendar"></i>January 31, 2016</span>
                            <span><i class="fa fa-clock-o"></i>03:26  pm</span>
                        </div>
                       <p>Duis facilisis nibh quam, sit amet interdum tellus sollicitudin tempor. Curabitur aliquam Duis facilisis nibh quam, sit amet interdum tellus sollicitudin tempor. Curabitur aliquam…</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--Comment Wrap End-->

    <!--Add Acomment Wrap Start-->
    <div class="gt_post_comment_wrap gt_detail_hdg">
        <h5>Post Comments</h5>
        <form class="row">
            <div class="col-md-4">
                <div class="gt_commet_field">
                    <input class="c_ph" type="text" name="name" placeholder="Name">
                </div>
            </div>
            <div class="col-md-4">    
                <div class="gt_commet_field">
                    <input class="c_ph" type="email" name="name" placeholder="Email">
                </div>
            </div>
            <div class="col-md-4">    
                <div class="gt_commet_field">
                    <input class="c_ph" type="email" name="name" placeholder="Website">
                </div>
            </div>
            <div class="col-md-12">
                <div class="gt_commet_field">
                    <textarea class="c_ph" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="gt_commet_field">
                    <button>Send Now</button>
                </div>
            </div>
        </form>
    </div>
    <!--Add Acomment Wrap End-->
</div>
<!--Course Listing style Wrap Start-->