<!--Contact Us Wrap Start-->
        <section class="gt_contactus_bg wow fadeInUp" id="contact-us">
            <div class="container">
                <div class="default_width">
                    <!--Main Heading Wrap Start-->
                    <div class="gt_hdg_1 wow zoomIn">
                        <h3>Latest News and Blog</h3>
                        <p>Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec <span>tetuer adipis elit, aliquam eget nibh etlibura.</span></p>
                        <span><img src="images/hdg-01.png" alt=""></span>
                    </div>
                    <!--Main Heading Wrap End-->
                    <form class="gt_contact_form" id="contact-form" action="assets/sendmail.php" method="post">
                        <div class="col-md-4">
                            <div class="gt_contact_us_field">
                                <input class="c_ph" type="text" placeholder="Your Name" id="name" name="contact-name" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gt_contact_us_field">
                                <input class="c_ph" type="text" placeholder="Email Adress:" id="email" name="contact-email" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gt_contact_us_field">
                                <input class="c_ph" type="text" placeholder="Phone Number" id="subject" name="contact-subject" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="gt_contact_us_field">
                                <textarea class="gt_c_bg" name="contact-message" id="message" placeholder="Message" required="" aria-required="true"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="gt_contact_us_field">
                                <input id="submit-message" type="submit" value="Send Now" name="submit_msg">
                            </div>
                            <!--Alert Message-->
                            <div id="contact-result">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--Contact Us Wrap End-->