<!--Our Gallery Wrap Start-->
<section class="gt_gallery_bg wow fadeInUp" id="gallery">
    <!--Main Heading Wrap Start-->
    <div class="gt_hdg_1 wow zoomIn">
        <h3>Our Gallery</h3>
        <p>Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec <span>tetuer adipis elit, aliquam eget nibh etlibura.</span></p>
        <span><img src="images/hdg-01.png" alt=""></span>
    </div>
    <!--Main Heading Wrap End-->

    <!--Gallery List Wrap Start-->
    <div class="gt_gallery_slider" id="gt_gallery_slider">
        <div class="item">
            <div class="gt_gallery_wrap">
                <img src="extra-images/gallery-01.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="gt_gallery_wrap">
                <img src="extra-images/gallery-02.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="gt_gallery_wrap">
                <img src="extra-images/gallery-03.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="gt_gallery_wrap">
                <img src="extra-images/gallery-04.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="gt_gallery_wrap">
                <img src="extra-images/gallery-05.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="gt_gallery_wrap">
                <img src="extra-images/gallery-01.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="gt_gallery_wrap">
                <img src="extra-images/gallery-02.jpg" alt="">
            </div>
        </div>
    </div>
    <!--Gallery List Wrap End-->
</section>
<!--Our Gallery Wrap End-->