<!--Our Gallery Wrap Start-->
<section class="gt_gallery_bg wow fadeInUp" id="gallery">
    <!--Main Heading Wrap Start-->
    <div class="gt_hdg_1 wow zoomIn">
        <h3>{{contents.home.gallery.title}}</h3>
        <br>
        {{{contents.home.gallery.body}}}
        <span><img src="static/images/hdg-01.png" alt=""></span>
    </div>
    <!--Main Heading Wrap End-->

    <!--Gallery List Wrap Start-->
    <div class="gt_gallery_slider" id="gt_gallery_slider">
        {{#each images.Gallery}}
        <div class="item">
            <div class="gt_gallery_wrap">
                <img src="{{{image}}}" alt="{{{title}}}">
            </div>
        </div>
        {{/each}}
    </div>
    <!--Gallery List Wrap End-->
</section>
<!--Our Gallery Wrap End-->