    <!--Sub Banner Wrap Start -->
    <div class="gt_sub_banner_bg default_width">
        <div class="container">
            <div class="gt_sub_banner_hdg  default_width">
                <h3>News Detail</h3>
                <ul>
                    <li><a href="#">Anasayfa</a></li>
                    <li><a href="#">News Detail</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--Sub Banner Wrap End -->