<!--Testimonial Wrap Start-->
        <section class="gt_testimonial_bg wow fadeInUp">
            <div class="container">
                <!--Main Heading Wrap Start-->
                <div class="gt_hdg_1 wow zoomIn white_hdg">
                    <h3>what clients say about Us</h3>
                    <p>Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec <span>tetuer adipis elit, aliquam eget nibh etlibura.</span></p>
                    <span><img src="images/hdg-01.png" alt=""></span>
                </div>
                <!--Main Heading Wrap End-->

                <!--Testimonial 02 List Wrap Start-->
                <div class="gt_testimonial2_slider" id="gt_testimonial2_slider">
                    <div class="item">
                        <div class="gt_testi2_wrap">
                            <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor.</p>
                            <div class="gt_testi2_detail">
                                <div class="gt_testi2_name">
                                    <h6>Janifer Steel</h6>
                                    <span>Parents</span>
                                </div>
                                <figure>
                                    <img src="extra-images/comment-02.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gt_testi2_wrap">
                            <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor.</p>
                            <div class="gt_testi2_detail">
                                <div class="gt_testi2_name">
                                    <h6>Stephem Johns</h6>
                                    <span>Parents</span>
                                </div>
                                <figure>
                                    <img src="extra-images/comment-01.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gt_testi2_wrap">
                            <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor.</p>
                            <div class="gt_testi2_detail">
                                <div class="gt_testi2_name">
                                    <h6>James Stewart</h6>
                                    <span>Parents</span>
                                </div>
                                <figure>
                                    <img src="extra-images/comment-03.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gt_testi2_wrap">
                            <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor.</p>
                            <div class="gt_testi2_detail">
                                <div class="gt_testi2_name">
                                    <h6>Rashed Kabir</h6>
                                    <span>Parents</span>
                                </div>
                                <figure>
                                    <img src="extra-images/comment-02.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gt_testi2_wrap">
                            <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor.</p>
                            <div class="gt_testi2_detail">
                                <div class="gt_testi2_name">
                                    <h6>Janifer Steel</h6>
                                    <span>Parents</span>
                                </div>
                                <figure>
                                    <img src="extra-images/comment-01.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="gt_testi2_wrap">
                            <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet aenean sollicitudin, lorem quis bibendum auctor.</p>
                            <div class="gt_testi2_detail">
                                <div class="gt_testi2_name">
                                    <h6>James Stewart</h6>
                                    <span>Parents</span>
                                </div>
                                <figure>
                                    <img src="extra-images/testimmonial-01.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Testimonial 02 List Wrap End-->

            </div>
        </section>
        <!--Testimonial Wrap End-->