<!--Testimonial Wrap Start-->
        <section class="gt_testimonial_bg wow fadeInUp">
            <div class="container">
                <!--Main Heading Wrap Start-->
                <div class="gt_hdg_1 wow zoomIn white_hdg">
                    {{settings.contents.testimonials}}
                    <span><img src="images/hdg-01.png" alt=""></span>
                </div>
                <!--Main Heading Wrap End-->

                <!--Testimonial 02 List Wrap Start-->
                <div class="gt_testimonial2_slider" id="gt_testimonial2_slider">
                    {{#each testimonials}}
                    <div class="item">
                        <div class="gt_testi2_wrap">
                            {{{comment}}}
                            <div class="gt_testi2_detail">
                                <div class="gt_testi2_name">
                                    <h6>{{{name}}}</h6>
                                    <span>{{{title}}}</span>
                                </div>
                                <figure>
                                    <img src="extra-images/comment-02.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                    {{#each}}
                </div>
                <!--Testimonial 02 List Wrap End-->

            </div>
        </section>
        <!--Testimonial Wrap End-->